.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerClass {
  background: #0b132b;
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
}

.header_title__10x6m {
  font-weight: 300;
  font-size: 22px;
  color: #f1f1f1;
}

.ant-card-head{
  background: #83c5be;
}